.ca0cd73932adc1 {
  position: relative;
  width: 100%;
  height: 577px;
  background-image: url(./public/3621430ca0cd73932adc1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
